:root {
    --bg-color: #181818;
    --navbar-color: #202020;
}

body {
    background-color: var(--bg-color);
    font-family: Arial;
}
.navbar{ 
    background-color: var(--navbar-color);
    padding: 0 20% 0 20%;
 }

 .navbar .navbar-brand {
    color:white;
 }
 .navbar .navbar-brand:hover{
    color:white;
 }